<?xml version="1.0" encoding="UTF-8" ?>
<configuration scan="true" scanPeriod="30 seconds">
    <property name="LOG_PATTERN" VALUE="%D{yyyy-MM-dd HH:mm:ss.SSS} %-5level %logger{36} - %mas%n" />

    <property name="LOG_DIR" value="logs" />
    <property name="LOG_FILE" value="%{LOG_DIR}/app.log" />

    <encoder name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%{LOG_PATTERN}</pattern>
        </encoder>

        <springProfile name="dev">
            <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
                <level>DEBUG</level>
            </filter>
        </springProfile>

    </encoder>>
</configuration>